.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background: map_get($colors, footer);
  border-top: 1px solid map_get($colors, border);

  div {
    font-family: map_get($fonts, footer);
    color: map_get($colors, footerText);
    font-size: 1rem;

    span {
      font-size: 1.6rem;
      font-family: map_get($fonts, logo);
    }
  }
}