.header {
  width: 100%;
  background: map_get($colors, header);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid map_get($colors, border);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

  h1 {
    position: relative;
    font-family: map_get($fonts, logo);
    color: map_get($colors, logo);
    cursor: pointer;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    span {
      position: absolute;
      font-size: 11px;
      left: 16px;
      bottom: -10px;
    }

    @media screen and (max-width: $mobileQueryPixels) {
      padding-bottom: 0.7rem;
    }
  }

  button {
    background: map_get($colors, btn);
    border: map_get($colors, border) 1px solid;
    font-size: 1rem;

    &:hover {
      background: map_get($colors, btnHover);
      border: map_get($colors, border) 1px solid;
      color: map_get($colors, btn);
    }
  }

  form {
    display: flex;

    &.scrolled {
      position: fixed;
      top: 10px;
      right: 1rem;
    }
  }

  .warning {
    box-shadow: 0 15px 15px rgba(255, 0, 0, 0.3),
    15px 0 15px rgba(255, 0, 0, 0.3);
  }

  .form-control {
    border-radius: 5px 0 0 5px;
  }

  button {
    border-radius: 0 5px 5px 0 !important;
  }

  @media screen and (max-width: $mobileQueryPixels) {
    flex-direction: column;
  }
}

.scrolled-div {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  background: map_get($colors, header);
  height: 7.3rem;
  width: 100%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;

  &.show {
    display: block;
    opacity: 1;
  }
}