.tabs {
  background: map_get($colors, tabs);
  padding: 0.5rem;
  margin-bottom: $footerHeight;
  border-bottom: 1px solid map_get($colors, border);

  .tab-content {
    padding: 0.5rem;
    background: map_get($colors, tabContent);
  }

  h2 {
    color: map_get($colors, noTabs);
    font-family: map_get($fonts, noTabs) !important;
    text-align: center;
    margin-bottom: 0;
    font-size: 11rem;
  }

  button {
    background: map_get($colors, btn);
    border: map_get($colors, border) 1px solid;
    font-size: 1rem;

    &:hover {
      background: #ffffff;
      border: map_get($colors, border) 1px solid;
      color: map_get($colors, btn);
    }
  }

  .top-side {
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid map_get($colors, border);
    padding-bottom: 0.5rem
  }
}