.nav-tabs {
  position: sticky;
  top: 10px;

  a {
    background: map_get($colors, navTabs);
    color: map_get($colors, nav);

    &:hover {
      color: map_get($colors, nav);
      border-color: transparent !important;
    }

    &.active {
      color: map_get($colors, navActive) !important;
    }
  }
}