.search {
  .form-group {
    width: 18rem;
    margin-bottom: 0;
  }

  .input-group-text {
    cursor: pointer;
  }

  .assets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}