.tab-item {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 0.3rem;
  margin: 1rem;
  border: 1px solid map_get($colors, border);
  border-radius: 5px;
  transition: opacity .15s ease-out;
  opacity: 1;

  .video {
    display: none;
    z-index: map_get($zIndexes, video);
  }

  .show {
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -320px;
  }

  .black-overlay {
    display: none;
    position: fixed;
    background: map_get($colors, overlay);
    width: 100vw;
    height: 100vh;
    z-index: map_get($zIndexes, black-overlay);
    top: 0;
    left: 0;
    cursor: default;
  }

  .show-overlay {
    display: block;
  }

  .image-wrapper {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;

    p {
      font-family: map_get($fonts, description);
      color: map_get($colors, description);
      font-size: 1rem;
      margin-bottom: 0;
    }

    img {
      margin-bottom: 0.3rem;
      align-self: center;
      width: 100%;
      max-height: 100%;
    }
  }

  h3 {
    font-family: map_get($fonts, title);
    color: map_get($colors, title);
    font-size: 1rem;
    margin-bottom: 0;
  }

  @media screen and (max-width: $mobileQueryPixels) {
    width: 40%;
    margin: 0;
    margin-top: 1rem;
  }
}

.clickable {
  pointer-events: all;

  &:hover {
    cursor: pointer;
  }
}

