// #5CDB95
// #379683
// #05386B
// #EDF5E1
// #8EE4AF

$white: #ffffff;
$black: #000000;
$lightBlack: #313131;

$colors: (
        header: #379683,
        border: #05386B,
        logo: $white,
        footer: #379683,
        footerText: $white,
        body: #379683,
        nav: #05386B,
        navActive: #05386B,
        tabs: #5CDB95,
        confirmationContainerBackground: #5CDB95,
        confirmationContainerBorder: #05386B,
        btn: #05386B,
        btnHover: $white,
        tabContent: $white,
        navTabs: #EDF5E1,
        title: $lightBlack,
        description: $lightBlack,
        noTabs: $white,
        overlay: rgba(0, 0, 0, 0.7)
);

$zIndexes: (
        black-overlay: 1,
        video: 3,
        confirmationModal: 5,
);


$widths: (
        confirmationContainer: 300px,
);

$heights: (
        confirmationContainer: 200px,
);

$default: 'sans-serif';
$malsava: 'Mansalva', $default;
$lato: 'Lato', $default;

$fonts: (
        global: $lato,
        logo: $malsava,
        noTabs: $malsava,
        title: $lato,
        description: $lato,
        footer: $lato,
        nav: $lato
);

$mobileQueryPixels: 768px;
$footerHeight: 60px;