*{
  &::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
  }
  
  &::selection {
    color: red;
    background: yellow;
  }
}

body {
  margin: 0;
  background: map_get($colors, body);
  font-family: map_get($fonts, global);
  scroll-behavior: smooth;
}

.rotate {
  animation-name: spin;
}

.form-group {
  margin-bottom: 0;
}

button {
  font-weight: 600 !important;
  letter-spacing: 1px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}